/* File Name    : app.css
   Author's Name: Anirudh Babu
   Website Name : index.html
   File Description: A CSS file that styles contents in index.html
 */
/*implementation of smooth scrolling*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 49.25px;
}
.navbar {
    opacity: 0.8;
}
#carouselBanner{
    padding-top: 60px;
    max-width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.carousel-inner{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner img{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-caption h5, .carousel-caption p{
    background-color: rgba(0,0,0,0.5);
}
#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}

#contactForm {
    margin-bottom: 4em;
}